#set($disable_seachable=true)
##parse("conf/js.vm")
#html_doctype()
<head>
	#parse("layout/head.vm")
</head>
<body class="top-navigation gray-bg" >
#parse("layout/header.vm")

$screen_content

#parse("layout/footer.vm")	
##jquery
$Jjquery
$Jbootstarp
$JmetisMenu
$Jslimscroll
$Jbootbox
<!-- Custom and plugin javascript -->
$Jmian
$Jpace
##<!-- Custom and plugin javascript -->
##<script src="$home_url/js/plugins/pace/pace.min.js"></script>
##<script src="$home_url/js/main.js"></script>
#if($extjs)
$extjs
#end
</body>	
</html>