#set($disable_seachable=true)

#html_doctype()
<head>
	#parse("layout/head.vm")
</head>
<body class="gray-bg" >
 $screen_content

##parse("layout/footer.vm")	
#jquery
<!-- Custom and plugin javascript -->
<script src="$home_url/js/plugins/pace/pace.min.js"></script>
<script src="$home_url/js/main.js"></script>
#if($extjs)
$extjs
#end
</body>	
</html>